a{
  text-decoration: none;
  color: black;
}

.image-button {
    display: flex;               /* Aligne image et texte */
    align-items: center;         /* Centre verticalement */
    gap: 5px;                   /* Espace entre image et texte */
    padding: 20px 20px;
    color: rgb(8, 1, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background: none;
}

.image-button img {
    width: 2em;                 /* Taille de l'image */
    height: 2em;
}

.button{
          font-size: 18px;
          padding: 5px 10px;
          background-color: whitesmoke;
          border: black;
          border-radius: 5px;
          cursor: pointer;
}

article{
  text-align: center;
}

.espace{
  padding: 5px;
}