h1{
font-size: 36px;        /* Taille du texte */
    color: #2d6801;         /* Couleur du texte */
    text-align: center;     /* Centrage du texte */
    font-family: Arial, sans-serif; /* Police */
    margin: 20px 0;         /* Marges haut et bas */
}