h1{
  font-size: 20px;
  color: #fbfff9;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, hsl(123, 100%, 20%), #980000);
  padding: 15px;
  margin-top: 0;
}

html, body {
    height: 100%;           /* Prend toute la hauteur de la fenêtre */
    margin: 0;              /* Supprime les marges par défaut */
    padding: 0;             /* Supprime les espacements internes */
    background-color: whitesmoke;
}
